<p>Data from landing Component is {{ shareService.myData }}</p>
<p>realtime info {{ realtimeInfo }}</p>
<a id="back-button" routerLink="/"><img src="assets/arrow-left.svg" /> Back</a>

<!-- <button type="button" routerLink="/" id="back-button">

  <img src="assets/arrow-left.svg" /> Back
</button>

<a mat-button routerLink="/" routerLinkActive="mat-accent">
  <img src="assets/arrow-left.svg" /> Back
</a> -->

<div class="grid-container">
  <div class="grid-item item1"><app-google-maps></app-google-maps></div>
  <div class="grid-item item2">
    <div>
      <span>{{ airportInfo.iata }}</span>

      <a style="float: right" [href]="airlineWebsiteInfo.urls.webSite">
        {{ airlineWebsiteInfo.fullName }} airport.com
      </a>
    </div>
    <label>{{ airportInfo.municipalityName }} Airport</label>
    <span>Country {{ airportInfo.countryCode }}</span>
    <span>Country {{ airportInfo.location.lon }}</span>
    <span>
      {{ airportInfo.location.lon }}, {{ airportInfo.location.lat }}
    </span>

    <hr />

    <div>
      <span>Flights</span>
      <span style="float: right">time</span>
    </div>

    <br />

    <h4>Departures</h4>
    <table>
      <thead></thead>
      <tbody>
        <tr *ngFor="let item of departures">
          <td>{{ item.movement.scheduledTimeLocal }}</td>
          <td>{{ item.number }}</td>
          <td style="text-align: right">{{ item.status }}</td>
        </tr>
      </tbody>
    </table>
    <h4>Arrivals</h4>
    <table>
      <!-- <thead></thead> -->
      <tbody>
        <tr *ngFor="let item of arrivals">
          <td>{{ item.movement.scheduledTimeLocal }}</td>
          <td>{{ item.number }}</td>
          <td style="text-align: right">{{ item.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
