.grid-container {
  display: grid;
  grid-template-columns: 60% 40%;
}

@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

@media screen and (max-width: 400px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

.item1 {
  height: 593px;
}

.item2 {
  display: grid;
  font-family: "Roboto", sans-serif;
  padding-right: 40px;
  padding-left: 10px;
}

table {
  font-family: "Roboto", sans-serif;
  border-collapse: collapse;
  width: 100%;
  max-height: 593px;
  table-layout: fixed;
  width: 100%;
}
.title {
  font-weight: bold;
  font-size: 28px;
}
.website {
  color: #0083fc;
  font-size: 20px;
  float: right;
}

.header-data {
  color: #646464;
  font-size: 20px;
  float: right;
}

td,
th {
  text-align: left;
  padding-bottom: 8px;
}
tr {
  font-size: 14px;
  color: #646464;
}

#back-button {
  width: 100px;
  height: 50px;
  font-size: 20px;
  background-color: white;
  font-family: "Roboto", Courier, monospace;
  color: #0083fc;
  border-style: none;
  text-decoration: none;
  margin-top: 40px;
}

.airportInfo {
  display: grid;
}
.heading {
  font-weight: bold;
  font-size: 18px;
}

.flights {
  font-size: 14px;
  padding-bottom: 3px;
}

hr {
  height: 1px;
  background-color: #eee;
  border: none;
}
