<a id="back-button" routerLink="/"><img src="assets/arrow-left.svg" /> Back</a>

<div class="grid-container">
  <div class="grid-item item1"><app-google-maps></app-google-maps></div>
  <div class="grid-item item2">
    <div>
      <span class="title">{{ dummyData.iata }}</span>
      <a
        class="website"
        style="float: right"
        [href]="dummyData.urls.webSite"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{ dummyData.shortName }} airport.com
      </a>
    </div>
    <span class="header-data">{{ dummyData.municipalityName }} Airport</span>
    <span class="header-data">Country, {{ dummyData.country.name }}</span>
    <span class="header-data">
      {{ dummyData.location.lon }},
      {{ dummyData.location.lat }}
    </span>

    <hr />

    <div>
      <span class="heading">Flights</span>
      <span style="float: right">time</span>
    </div>

    <br />

    <span class="flights">Departures</span>
    <table>
      <thead></thead>
      <tbody>
        <tr *ngFor="let item of departures">
          <td>{{ item.movement.scheduledTimeLocal | date : "HH:mm" }}</td>
          <td>{{ item.number }}</td>
          <td style="text-align: right">{{ item.status }}</td>
        </tr>
      </tbody>
    </table>
    <span class="flights">Arrivals</span>

    <table>
      <tbody>
        <tr *ngFor="let item of arrivals">
          <td>{{ item.movement.scheduledTimeLocal | date : "HH:mm" }}</td>
          <td>{{ item.number }}</td>
          <td style="text-align: right">{{ item.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
