<img src="assets/world.svg" />
<mat-form-field class="example-full-width">
  <mat-label>Search for any airport...</mat-label>
  <input
    type="text"
    matInput
    [(ngModel)]="searchTerm"
    (input)="onInputChange()"
  />
  <mat-icon matPrefix>search</mat-icon>
</mat-form-field>

<hr />

<p class="info-text mat-body-1" *ngIf="airportInformation.length > 0">
  Search Results
</p>

<mat-list *ngFor="let post of airportInformation">
  <mat-list-item>
    <img src="assets/flight-takeoff.svg" />
    <b> {{ post.iata }}</b> {{ post.name }}, {{ post.countryCode }}
    <span class="spacer"></span>
    <button mat-button>More Info -></button>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>

<p class="info-text mat-body-1" *ngIf="searchTerm.length == 0">
  No Search results
</p>
