#center-items {
  display: flex;
  justify-content: center;
}

.container-width {
  width: 95%;
}

.container-margins {
  margin-left: 33px;
}

#airports {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#airports td {
  border-radius: 5px;
}

#airports tr:hover {
  background-color: #ddd;
}

hr {
  height: 1px;
  background-color: #ddd;
  border: none;
}
