<!-- loading in the interactive world map -->
<div id="center-items">
  <svg #svgMap width="1109" height="731"></svg>
</div>

<!-- Adding the search field and setting the max length to 4 items for both IACO and IATA codes
Checking after every keystroke
Sending the search term to uppercase as that's the way the data is getting received from the API. -->
<div id="center-items">
  <mat-form-field class="container-width">
    <mat-label>Search for any airport by IATA or IACO...</mat-label>
    <input
      height="60px"
      width="1473px"
      type="text"
      matInput
      maxlength="4"
      required
      [(ngModel)]="searchTerm"
      (input)="onInputChange()"
      (input)="searchTerm = searchTerm.toUpperCase()"
    />
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>
</div>

<!-- Showing the loading asset -->
<app-loading-svg *ngIf="isLoading"></app-loading-svg>

<!-- Ensuring the loading timeout is finished and the search has results before trying to display the contents -->
<div *ngIf="!isLoading && airportInformation.length > 0">
  <hr class="container-width" *ngIf="airportInformation.length > 0" />
  <div>
    <p
      class="container-width container-margins"
      *ngIf="airportInformation.length > 0"
    >
      Search Results
    </p>
  </div>

  <!-- Adding a click listener here which captures the IATA code and sends it to the share service
Also the routerlink will take the user to the airport details component -->
  <table id="airports" class="container-width container-margins">
    <tr
      *ngFor="let airport of airportInformation"
      routerLink="/airport"
      (click)="viewAirport(airport.iata)"
    >
      <td>
        <img src="assets/flight-takeoff.svg" /> <b> {{ airport.iata }}</b>
        {{ airport.name }}, {{ airport.countryCode }}
        <hr />
      </td>
    </tr>
  </table>
</div>

<!-- Ensuring the loading timeout is finished and the search has ZERO results before trying to display the contents -->
<div *ngIf="!isLoading && airportInformation.length == 0 && midSearch">
  <hr class="container-width" />
  <div>
    <p class="container-width container-margins">
      Sorry, we couldn't find any airports. Try a different IATA or IACO code.
    </p>
  </div>
</div>

<!-- USE BELOW  FOR DUMMY DATA-->

<!-- <div id="center-items">
  <svg #svgMap width="1109" height="731"></svg>
</div>

<div id="center-items">
  <mat-form-field class="container-width">
    <mat-label>Search for any airport...</mat-label>
    <input
      height="60px"
      width="1473px"
      type="text"
      matInput
      [(ngModel)]="searchTerm"
      (input)="onInputChange()"
    />
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>
</div>

<app-loading-svg *ngIf="isLoading"></app-loading-svg>

<div *ngIf="!isLoading && retreivedItems">
  <hr class="container-width" *ngIf="airportInformation.length > 0" />
  <div>
    <p
      class="container-width container-margins"
      *ngIf="airportInformation.length > 0"
    >
      Search Results
    </p>
  </div>

  <table id="airports" class="container-width container-margins">
   

    <tr
      *ngFor="let airport of dummyAirportInformation"
      routerLink="/airport"
      (click)="viewAirport(airport.iata)"
    >
      <td>
        <img src="assets/flight-takeoff.svg" /> <b> {{ airport.iata }}</b>
        {{ airport.name }}, {{ airport.countryCode }}
        <hr />
      </td>
    </tr>
  </table>
</div> -->
