<div id="center-items">
  <svg #svgMap width="1109" height="731"></svg>
</div>

<div id="center-items">
  <mat-form-field class="container-width">
    <mat-label>Search for any airport...</mat-label>
    <input
      height="60px"
      width="1473px"
      type="text"
      matInput
      [(ngModel)]="searchTerm"
      (input)="onInputChange()"
    />
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>
</div>

<app-loading-svg *ngIf="isLoading"></app-loading-svg>

<div *ngIf="!isLoading">
  <!-- Your main content that will be displayed after the loading SVG -->
  <hr class="container-width" *ngIf="airportInformation.length > 0" />
  <div>
    <p
      class="container-width container-margins"
      *ngIf="airportInformation.length > 0"
    >
      Search Results
    </p>
  </div>

  <table id="customers" class="container-width container-margins">
    <!-- *ngFor="let airport of airportInfo" -->
    <!-- fullAirportInfo is dummy data and airportInformation is real time data -->

    <tr
      *ngFor="let airport of airportInformation"
      routerLink="/airport"
      (click)="viewAirport(airport.iata)"
    >
      <td>
        <img src="assets/flight-takeoff.svg" /> <b> {{ airport.iata }}</b>
        {{ airport.name }}, {{ airport.countryCode }}
        <hr />
      </td>
    </tr>
  </table>
</div>

<!-- USE BELOW  FOR DUMMY DATA-->

<!-- <div id="center-items">
  <svg #svgMap width="1109" height="731"></svg>
</div>

<div id="center-items">
  <mat-form-field class="container-width">
    <mat-label>Search for any airport...</mat-label>
    <input
      height="60px"
      width="1473px"
      type="text"
      matInput
      [(ngModel)]="searchTerm"
      (input)="onInputChange()"
    />
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>
</div>

<app-loading-svg *ngIf="isLoading"></app-loading-svg>

<div *ngIf="!isLoading && retreivedItems">
  <hr class="container-width" *ngIf="airportInformation.length > 0" />
  <div>
    <p
      class="container-width container-margins"
      *ngIf="airportInformation.length > 0"
    >
      Search Results
    </p>
  </div>

  <table id="customers" class="container-width container-margins">
   

    <tr
      *ngFor="let airport of dummyAirportInformation"
      routerLink="/airport"
      (click)="viewAirport(airport.iata)"
    >
      <td>
        <img src="assets/flight-takeoff.svg" /> <b> {{ airport.iata }}</b>
        {{ airport.name }}, {{ airport.countryCode }}
        <hr />
      </td>
    </tr>
  </table>
</div> -->
